.companions {
  background-color: $bg_blue;
  margin-top: -50px;
  padding-top: 96px;
  padding-bottom: 30px;
  border-radius: 0 0 30px 30px;

  @media (min-width: $tablet-width) {
    padding-bottom: 87px;
    padding-top: 149px;
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 134px;
  }
}

.companions__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
  }
}

.companions__title {
  margin-left: 24px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 58px;
  }
}

.companions__paragraph {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $basic_white;
  margin-left: 24px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    margin-left: 0;
    padding-right: 140px;
    margin-bottom: 41px;
  }
}

.companions__paragraph:last-of-type {
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
  }
}

.companions__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 55px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-top: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / -1;
    grid-column: 2 / -1;
  }
}

.companions__item {
  width: 270px;
  min-height: 428px;

  @media (min-width: $tablet-width) {
    width: 285px;
    min-height: 483px;
  }
}

.companions__item:first-of-type {
  @media (min-width: $tablet-width) {
    margin-right: 50px;
  }
}

.companions__button {
  display: block;

  @media (min-width: $tablet-width) {
    margin-top: 72px;
  }
}
