.companions {
  background-color: $bg_blue;
  margin-top: -50px;
  padding-top: 96px;
  padding-bottom: 30px;
  border-radius: 0 0 30px 30px;
  position: relative;
  background-image:
    url("../img/rogovaya-back-mobile@1x.png"),
    url("../img/smolov-back-desktop@1x.png");
  background-repeat:
    no-repeat,
    no-repeat;
  background-position:
    -9px 357px,
    calc(100% - 25px) 85px;
  background-size:
    auto,
    auto;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/rogovaya-back-mobile@2x.png"),
      url("../img/smolov-back-desktop@2x.png");
    background-size:
      71px auto,
      143px auto;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 87px;
    padding-top: 149px;
    border-radius: 0 0 60px 60px;
    background-image:
      url("../img/rogovaya-back-desktop@1x.png"),
      url("../img/smolov-back-desktop@1x.png");
    background-position:
      calc(100% - 74px) 130px,
      40px 476px;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/rogovaya-back-desktop@2x.png"),
        url("../img/smolov-back-desktop@2x.png");
      background-size:
        285px auto,
        143px auto;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 138px;
    padding-bottom: 75px;
    background-position:
      calc(50% - 388px) 436px,
      calc(50% - 102px) 184px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 84px;
    left: 0;
    z-index: 0;
    width: 113px;
    height: 132px;
    border-radius: 0 20px 20px 0;
    background-color: $bg_cube;

    @media (min-width: $tablet-width) {
      top: 121px;
      left: 40px;
      width: 212px;
      height: 212px;
      border-radius: 20px;

      @media (min-width: $desktop-width) {
        top: 120px;
        left: calc(50% - 660px);
      }
    }
  }
}

.companions__wrapper {
  position: relative;
  z-index: 1;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: repeat(3, min-content) 1fr;
    padding-left: 130px;
  }
}

.companions__title {
  margin-left: 24px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 38px;
    margin-bottom: 0;
  }
}

.companions__paragraph {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $basic_white;
  margin-left: 24px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    margin-left: 0;
    padding-right: 140px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 57px;
  }
}

.companions__paragraph:last-of-type {
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 41px;
  }
}

.companions__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 55px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-top: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / -1;
    grid-column: 2 / -1;
    margin-top: 46px;
    margin-bottom: 50px;
  }
}

.companions__item {
  width: 270px;
  min-height: 428px;

  @media (min-width: $tablet-width) {
    width: 285px;
    min-height: 483px;
  }
}

.companions__item:first-of-type {
  @media (min-width: $tablet-width) {
    margin-right: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 60px;
  }
}

.companions__button {
  display: block;

  @media (min-width: $tablet-width) {
    margin-top: 72px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 86px;
    margin-left: 1px;
    width: 280px;
  }
}
