.companion-card {
  display: flex;
  flex-direction: column;
  background-color: $basic_white;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 9px;

  &:hover {
    box-shadow: 0 4px 9px rgba($basic_black, 0.6);
  }

  & img {
    transform: scale(1);
    transition-duration: 0.4s;
  }

  &:hover img {
    transform: scale(1.3);
    transition-duration: 0.4s;
  }

  @media (min-width: $tablet-width) {
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 0;
  }
}

.companion-card__top {
  display: flex;
  justify-content: center;
}

.companion-card__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: $basic_blue_light;
  margin-top: 1px;
  margin-bottom: 16px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 22px;
    margin-top: 5px;
    margin-bottom: 24px;
  }

  & a {
    color: $basic_blue_light;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: -16px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $off_red;

    @media (min-width: $tablet-width) {
      width: 8px;
      height: 8px;
      left: -21px;
    }
  }

  &--online::before {
    background-color: $on_green;
  }
}

.companion-card__photo {
  width: 270px;
  height: 270px;
  order: -1;
  overflow: hidden;
  border-radius: 10px 10px 0 0;

  @media (min-width: $tablet-width) {
    width: 285px;
    height: 285px;
    border-radius: 20px 20px 0 0;

    & img {
      width: 285px;
      height: 285px;
    }
  }
}

.companion-card__level {
  position: absolute;
  top: 17px;
  left: 17px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba($basic_black, 0.6);
  font-size: 14px;
  line-height: 14px;
  color: $basic_white;
  text-align: center;
  padding-top: 7px;
  border: 4px solid $special_orange;

  @media (min-width: $tablet-width) {
    top: 20px;
    left: 21px;
  }
}

.companion-card__level-number {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  display: block;
  border-bottom: 1px solid rgba($basic_white, 0.3);
  width: 30px;
  margin: 0 auto;
  margin-bottom: 1px;
}

.companion-card__visit-list {
  order: -1;
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  top: -12px;
}

.companion-card__visit {
  width: 35px;
  height: 24px;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.companion-card__hashtag-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin: 0 37px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 27px;
  }
}

.companion-card__hashtag {
  font-size: 16px;
  line-height: 18px;
  color: $special_grey;
  margin-right: 5px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 23px;
    margin-right: 6px;
  }
}

.companions-card__transport-list {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0 10px;
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    margin-top: 27px;
  }
}

.transport {
  height: 25px;
  width: 25px;
  margin-right: 9px;
  text-align: center;

  & svg {
    fill: $basic_blue_light;
  }

  &--off svg {
    opacity: 0.15;
  }

  &:last-child {
    margin-right: 0;
  }
}
