.contacts {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.contacts__tel,
.contacts__email {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: $basic_yellow;
  text-transform: uppercase;
  padding-left: 61px;
  padding-top: 14px;
  text-decoration: none;
  min-height: 45px;
  position: relative;

  &:hover {
    color: $special_yellow_dark;
  }

  &:active {
    color: rgba($basic_yellow, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
    padding-left: 91px;
    padding-top: 23px;
    min-height: 68px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 118px;
    padding-top: 36px;
  }

  & .contacts__mark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: $blue_dark;
    text-align: center;
    padding-top: 13px;

    @media (min-width: $tablet-width) {
      height: 68px;
      width: 68px;
    }

    @media (min-width: $desktop-width) {
      height: 90px;
      width: 90px;
      top: 5px;
      left: -3px;
    }
  }

  & svg {
    fill: currentColor;
  }
}


.contacts__tel--in-menu,
.contacts__email--in-menu {
  color: $bg_blue;

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 50px;
    height: 50px;
    min-height: 50px;
  }

  &::before {
    @media (min-width: $desktop-width) {
      width: 50px;
      height: 50px;
      top: 3px;
      left: 0;
    }
  }

  & span {
    @media (min-width: $desktop-width) {
      position: absolute;
      opacity: 0;
      width: 1px;
      height: 1px;
      overflow: hidden;
    }
  }
}

.contacts__tel--in-menu::before {
  @media (min-width: $desktop-width) {
    background-color: $special_orange;
  }
}

.contacts__tel--in-menu:hover::before {
  background-color: $active;
}

.contacts__email--in-menu::before {
  @media (min-width: $desktop-width) {
    background-color: $special_yellow_dark;
  }
}

.contacts__email--in-menu:hover::before {
  background-color: $special_orange;
}
