.country-filter {
  background-color: $bg_filter;
  margin-top: -20px;
  padding-top: 41px;
  padding-bottom: 16px;
  border-radius: 0 0 20px 20px;
  position: absolute;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-top: -60px;
    padding-top: 81px;
    border-radius: 0 0 60px 60px;
    padding-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 43px;
    position: static;
  }
}

.country-filter__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 60px;
  }
}

.country-filter__top {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    padding-top: 14px;
    padding-left: 39px;
  }
}

.country-filter__title {
  margin: 0;
  padding-left: 27px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $bg_blue;
  position: relative;

  @media (min-width: $tablet-width) {
    position: absolute;
    opacity: 0;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    opacity: 1;
    font-size: 20px;
    line-height: 20px;
    margin-top: 39px;
    margin-right: 4px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    height: 10px;
    background-color: tomato;

    @media (min-width: $desktop-width) {
      width: 23px;
      height: 15px;
      top: 2px;
      left: -19px;
    }
  }
}

.country-filter__continents-list {
  @media (min-width: $tablet-width) {
    list-style: none;
    padding: 0;
    display: flex;
    flex-grow: 1;
    padding-top: 23px;
    margin-left: 31px;
  }
}

.country-filter__continent-item {
  @media (min-width: $tablet-width) {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: $bg_blue;
    opacity: 0.3;
    margin-right: 29px;

    &--active {
      opacity: 1;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 33px;
  }
}

.country-filter__toggle {
  background-color: transparent;
  border: none;
  width: 17px;
  height: 17px;
  position: relative;
  margin-right: 7px;

  @media (min-width: $tablet-width) {
    width: 185px;
    margin-right: 33px;
    margin-top: 39px;
    text-align: left;
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: $bg_blue;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 37px;
    margin-right: 60px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: $bg_blue;
    box-shadow:
      7px 0 0 $bg_blue,
      14px 0 0 $bg_blue;

    @media (min-width: $tablet-width) {
      top: 8px;
      left: auto;
      right: 24px;
      width: 6px;
      height: 6px;
      box-shadow:
        12px 0 0 $bg_blue,
        24px 0 0 $bg_blue;
    }
  }
}

.country-filter__toggle-text {
  position: absolute;
  left: -100px;
  opacity: 0;

  @media (min-width: $tablet-width) {
    position: static;
    opacity: 1;
  }
}

//close

.country-filter--close .country-filter__continents-list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.country-filter--close .country-filter__box {
  display: none;
}
