.directions {
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 3;
  background-color: $basic_grey_light;
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 60px 60px;
    padding-bottom: 81px;
  }
}

.direction__wrapper {
  display: block;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 800px min-content;
    grid-template-rows: min-content min-content min-content;
    min-height: 575px;
  }
}

.directions__title {
  margin-top: 69px;
  margin-left: 25px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 58px;
  }
}

.directions__paragraph {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $special_grey;
  margin-left: 24px;
  margin-bottom: 61px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    margin-left: 1px;
    margin-bottom: 107px;
  }
}

.directions__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    order: -1;
    height: 100%;
    margin-top: 88px;
    grid-row: 1 / -1;
  }
}

.directions__button {
  display: block;
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    margin-top: 48px;
  }
}
