.directions {
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 3;
  background-color: $basic_grey_light;
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 60px 60px;
    padding-bottom: 81px;
    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 40px) 11px;
    background-size: auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/flags-back@2x.png");
      background-size: 289px auto;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 93px;
    padding-bottom: 82px;
    background-position: calc(50% + 517px) 88px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 337px;
      left: 40px;
      width: 141px;
      height: 141px;
      background: $bg_filter;
      border-radius: 20px;
      z-index: 0;
    }

    @media (min-width: $desktop-width) {
      top: 90px;
      left: calc(50% - 660px);
      width: 140px;
      height: 140px;
    }
  }
}

.direction__wrapper {
  display: block;
  position: relative;
  z-index: 1;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 800px min-content;
    grid-template-rows: min-content min-content min-content;
    min-height: 575px;
  }
}

.directions__title {
  margin-top: 69px;
  margin-left: 25px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 1px;
    margin-bottom: 32px;
  }
}

.directions__paragraph {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $special_grey;
  margin-left: 24px;
  margin-bottom: 61px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    margin-left: 1px;
    margin-bottom: 107px;
  }

  @media (min-width: $desktop-width) {
    width: 380px;
    margin-left: 2px;
  }
}

.directions__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    order: -1;
    height: 100%;
    margin-top: 68px;
    margin-left: 70px;
    margin-right: 170px;
    grid-row: 1 / -1;
  }
}

.directions__button {
  display: block;
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    margin-top: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -7px;
    margin-left: 3px;
    width: 275px;
  }
}
