
.menu__main-nav-list {
  list-style: none;
  margin-top: 59px;
}

.nav-list__link {
  display: block;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $bg_blue;
  padding-right: 38px;
}

.menu__login {
  display: block;
  min-height: 50px;
  background: $basic_yellow;
  border-radius: 25px;
  margin-top: 54px;
  margin-bottom: 49px;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic_blue;
  padding-top: 10px;
  padding-right: 2px;
}

.menu__social-list {
  margin-top: 31px;
}
