.menu {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.1px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-grow: 1;
  }
}

.menu__main-nav-list {
  list-style: none;
  margin-top: 59px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-top: 42px;
    padding-left: 57px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-grow: 1;
    padding: 0;
    padding-top: 19px;
    padding-left: 145px;
    margin: 0;

    &::before {
      content: "";
      position: absolute;
      top: 28px;
      left: 40px;
      width: 60px;
      height: 2px;
      background-color: $basic_white;
    }
  }
}

.nav-list__link {
  display: block;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $bg_blue;
  padding-right: 38px;
  overflow: hidden;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 71px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    color: $basic_white;
    padding-right: 0;
    margin-right: 34px;
  }

  &:active {
    opacity: 0.3;
  }
}

.nav-list__link[href] span {
  display: block;
  transform: translateY(0px);
  transition: 0.5s;
}

.nav-list__link[href]:hover span {
  transform: translateY(-30px);

  @media (min-width: $tablet-width) {
    transform: translateY(-60px);
  }

  @media (min-width: $desktop-width) {
    transform: translateY(-20px);
  }
}

.nav-list__link[href]::after {
  content: attr(data-hover);
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-right: 38px;
  color: $basic_yellow;
  transform: translateY(30px);
  transition: 0.5s;
  z-index: 4;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    text-align: left;
    transform: translateY(60px);
  }

  @media (min-width: $desktop-width) {
    transform: translateY(20px);
  }
}

.nav-list__link[href]:hover::after {
  transform: translateY(0px);
}

.menu__login {
  display: block;
  min-height: 50px;
  background: $basic_yellow;
  border-radius: 25px;
  margin-top: 54px;
  margin-bottom: 49px;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic_blue;
  padding-top: 10px;
  padding-right: 2px;
  position: relative;

  @media (min-width: $tablet-width) {
    order: -1;
    margin-top: 40px;
    align-self: flex-end;
    min-width: 188px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 14px;
    padding-right: 0;
    z-index: 7;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    margin: 0;
    margin-top: 3px;
    align-self: flex-start;
    z-index: auto;
  }

  &:hover {
    background-color: $special_yellow_dark;
  }

  &:active {
    color: rgba($basic_blue, 0.3);
  }
}

.menu__contacts {
  @media (min-width: $tablet-width) {
    padding-top: 114px;
    padding-left: 57px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    margin-right: -3px;
  }
}

.menu__social-list {
  margin-top: 31px;

  @media (min-width: $tablet-width) {
    margin-top: 115px;
    margin-left: 56px;
    margin-bottom: 59px;
  }
}
