.menu {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.1px;
}

.menu__main-nav-list {
  list-style: none;
  margin-top: 59px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-top: 42px;
    padding-left: 57px;
  }
}

.nav-list__link {
  display: block;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $bg_blue;
  padding-right: 38px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 71px;
    text-align: left;
  }
}

.menu__login {
  display: block;
  min-height: 50px;
  background: $basic_yellow;
  border-radius: 25px;
  margin-top: 54px;
  margin-bottom: 49px;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic_blue;
  padding-top: 10px;
  padding-right: 2px;

  @media (min-width: $tablet-width) {
    order: -1;
    margin-top: 40px;
    align-self: flex-end;
    min-width: 188px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 14px;
    padding-right: 0;
  }
}

.menu__contacts {
  @media (min-width: $tablet-width) {
    padding-top: 114px;
    padding-left: 57px;
  }
}

.menu__social-list {
  margin-top: 31px;

  @media (min-width: $tablet-width) {
    margin-top: 115px;
    margin-left: 56px;
    margin-bottom: 59px;
  }
}
