.promo {
  background-color: $basic_blue;
  color: $basic_white;
  position: relative;
  z-index: 3;

  @media (min-width: $desktop-width) {
    border-radius: 0 0 60px 60px;
    padding-bottom: 123px;
  }
}

.promo__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 60px;
    border-radius: 0 0 60px 60px;
  }
}

.promo__top {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.promo__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  margin-top: 18px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
    margin-top: 26px;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-top: 103px;
    margin-left: 68px;
  }
}

.promo__contacts {
  display: flex;
  justify-content: center;
  margin-top: 246px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.promo__tel {
  width: 40px;
  height: 40px;
  background-color: $special_orange;
  border-radius: 50%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 10px;
    width: 18px;
    height: 18px;
    background-image: url("../../img/export/icon_call.svg");
  }
}

.promo__email {
  width: 40px;
  height: 40px;
  background-color: $special_yellow_dark;
  border-radius: 50%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 10px;
    width: 18px;
    height: 16px;
    background-image: url("../../img/export/icon_mail.svg");
  }
}

.promo__login {
  width: 190px;
  height: 40px;
  background-color: $basic_yellow;
  border-radius: 25px;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $basic_blue;
  text-decoration: none;
  padding-top: 11px;
}

.promo__quote {
  max-width: 345px;
  margin: 0;
  margin-top: 11px;
  margin-left: 25px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-left: 33px;
    margin-bottom: 213px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 76px;
    padding-left: 60px;
    margin-bottom: 0;
  }
}

.promo__quote-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $basic_white;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 45px;
  }
}

.promo__quote-author {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;

    & .break {
      display: none;
    }
  }
}
