.promo {
  color: $basic_white;
  position: relative;
  z-index: 3;
  background-color: $basic_blue;
  padding-bottom: 80px;
  background-image: none;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    background-color: $special_blue;
    background-image:
      url("../img/traveller-illustration-tablet@1x.png"),
      url("../img/globe-back-tablet@1x.jpg");
    background-repeat:
      no-repeat,
      no-repeat;
    background-position:
      calc(50% + 87px) calc(100% - 140px),
      -355px bottom;
    background-size:
      auto,
      auto;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/traveller-illustration-tablet@2x.png"),
        url("../img/globe-back-tablet@2x.jpg");
      background-size:
        auto 451px,
        auto 612px;
    }
  }

  @media (min-width: $desktop-width) {
    border-radius: 0 0 60px 60px;
    padding-top: 1px;
    padding-bottom: 123px;
    background-color: $basic_blue;
    background-image:
      url("../img/traveller-illustration-desktop@1x.png"),
      url("../img/globe-back-desktop@1x.jpg");
    background-repeat:
      no-repeat,
      no-repeat;
    background-position:
      calc(50% + 99px) bottom,
      -170px bottom;
    background-size:
      auto,
      auto;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/traveller-illustration-desktop@2x.png"),
        url("../img/globe-back-desktop@2x.jpg");
      background-size:
        auto 640px,
        auto 750px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 404px;
    background-image:
      url("../img/traveller-illustration-mobile@1x.png"),
      url("../img/globe-back-mobile@1x.jpg");
    background-repeat:
      no-repeat,
      no-repeat;
    background-position:
      calc(50% + 16px) bottom,
      left 45%;
    background-size:
      auto,
      cover;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/traveller-illustration-mobile@2x.png"),
        url("../img/globe-back-mobile@2x.jpg");
      background-size:
        auto 255px,
        cover;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.promo__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 60px;
    border-radius: 0 0 60px 60px;
  }
}

.promo__top {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 56px;
  }
}

.promo__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  margin-top: 18px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
    margin-top: 26px;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-top: 103px;
    margin-left: 68px;
  }
}

.promo__contacts {
  display: flex;
  justify-content: center;
  margin-top: 246px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.promo__tel {
  width: 40px;
  height: 40px;
  background-color: $special_orange;
  border-radius: 50%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 10px;
    width: 18px;
    height: 18px;
    background-image: url("../img/export/icon_call.svg");
  }
}

.promo__email {
  width: 40px;
  height: 40px;
  background-color: $special_yellow_dark;
  border-radius: 50%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 10px;
    width: 18px;
    height: 16px;
    background-image: url("../img/export/icon_mail.svg");
  }
}

.promo__login {
  width: 190px;
  height: 40px;
  background-color: $basic_yellow;
  border-radius: 25px;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $basic_blue;
  text-decoration: none;
  padding-top: 11px;
}

.promo__quote {
  max-width: 345px;
  margin: 0;
  margin-top: 11px;
  margin-left: 25px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-left: 33px;
    margin-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 76px;
    padding-left: 60px;
    margin-bottom: 0;
  }
}

.promo__quote-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $basic_white;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 45px;
  }
}

.promo__quote-author {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;

    & .break {
      display: none;
    }
  }
}
