.social-list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-list__item {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $basic_yellow;
}
