.user-card {
  background-color: $basic_white;
  border-radius: 20px;
  position: relative;
  padding-bottom: 7px;
}

.user-card__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  position: relative;
}

.user-card__name {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: $basic_blue_light;
  flex-grow: 1;
  margin: 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 23px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
}

.user-card__name--offline::after {
  background-color: $off_red;
}

.user-card__photo-block {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  order: -1;
  margin-right: 17px;
  margin-left: 18px;
}

.user-card__like {
  position: absolute;
  top: 55px;
  left: 70px;
}

.user-card__like-btn {
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $bg_btn_grey;
}

.user-card__like-numder {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic_blue;
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
}

.user-card__hashtag-list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 27px;
  padding-top: 13px;
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 18px;
  color: $special_grey;
  margin-bottom: 11px;
}

.user-card__hashtag-item {
  margin-right: 5px;
}

.user-card__inner-title {
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: $special_grey;
  display: inline-block;
  vertical-align: top;
  background-color: $basic_white;
  padding: 0 5px;
  margin-top: -9px;
}

.user-card__visit-block {
  width: 100%;
  border-top: 1px solid $basic_grey_light;
  padding-left: 22px;
}

.user-card__want-visit-list {
  list-style: none;
  padding: 0;
  padding-top: 8px;
  margin-bottom: 21px;
}

.user-card__want-visit {
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic_blue_light;
  padding-left: 44px;
  padding-top: 1px;
  position: relative;
  margin-bottom: 11px;


  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 4px;
    width: 26px;
    height: 18px;
    background-color: tomato;
    border-radius: 3px;
  }
}

.user-card__transport-block {
  border-top: 1px solid $basic_grey_light;
  width: 72%;
  padding-left: 23px;
  margin-bottom: 20px;
}

.user-card__transport-list {
  list-style: none;
  padding: 0;
  display: flex;
  padding-top: 6px;
}

.user-card__transport {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $basic_grey_light;
}

.user-card__level {
  border-top: 1px solid $basic_grey_light;
  width: 28%;
  padding-left: 8px;
}

.user-card__level-number {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid $special_orange;
  text-align: center;
  padding-top: 7px;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $basic_blue_light;
}

.user-card__call-btn {
  width: 100%;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: $basic_blue;
  border: none;
  background-color: $basic_yellow;
  border-radius: 25px;
  margin: 0 21px;
  padding: 12px;
  padding-bottom: 10px;
}
