img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  width: auto;
  padding: 0 25px;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    padding: 0 75px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 60px;
    margin: 0 auto;
  }
}

.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $special_orange;

  @media (min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;
  }
}

.section-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $basic_blue_light;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.button {
  display: block;
  color: $basic_blue_light;
  background-color: $basic_yellow;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  padding-top: 22px;
  padding-left: 23px;
  height: 62px;
  text-decoration: none;
  border-radius: 10px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 19px;
    width: 14px;
    height: 13px;
    background-image: url("../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 33px;
      right: 30px;
    }
  }

  &:hover {
    background-color: $special_yellow_dark;
  }

  &:active {
    color: rgba($basic_blue_light, 0.3);

    &::after {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    border-radius: 20px;
    font-size: 24px;
    line-height: 24px;
    padding-top: 28px;
    padding-left: 33px;
    height: 80px;
  }
}

.break-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.break-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.break-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}
