$basic_blue: #161c35;
$special_blue: #182044;
$basic_grey_light: #edeff6;
$basic_yellow: #ffd74b;
$special_yellow_dark: #ffbd30;
$special_blue_light: #dfe3f0;
$special_grey: #444444;
$basic_blue_light: #1d2e5b;
$special_red: #f47e7e;
$special_orange: #ff8d30;
$special_orange_light: #ffa530;
$basic_white: #ffffff;
$basic_black: #000000;
$bg_blue: #192144;
$rates_link: #132576;
$border_grey: #cbced9;
$border_grey_light: #e1e3e9;
$blue_dark: #121936;
$footer_grey_light: #f2f2f2;
$grey: #cccccc;
$blue_dir: #d4d9eb;
$calendar_grey: #d6d9e6;
$basic_red: #ff5c23;
$border_step: #e1e3e9;
$bg_filter: #e2e5f2;
$border_yellow: #f3c72b;
$bg_btn_grey: #f9eaea;
$off_red: #f97676;
$on_green: #81e31e;
$bg_cube: #141b3b;
$button: #f3f4f8;
$shadow: rgb(29, 46, 91);
$active: #f26926;
$active_photo: #d1d7e9;
$hover_border: #959bb2;
$hover_close: #c8cee8;

$tablet-width: 768px;
$desktop-width: 1440px;
$only-tablet-wigth: 1439px;
